/* здесь используйте глобальные переменные */
$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;
$base-text-color: #444444;
$heading-color: #000000;
$card-title-color: #222222;
$light-text: #ffffff;
$primary-color: #68b738;
$opacity-primary-color: rgba(104, 183, 56, 0.85);
$accent-background: #f2f2f2;
$extra-background: #eaeaea;
$social-color: #666666;
$button-action: #5eaa2f;
$button-secondary-action: #ebebeb;
$tablet-width: 768px;
$desktop-width: 1440px;
