/* здесь используйте глобальные переменные */
$base-text-color: #444444;
$heading-color: #000000;
$card-title-color: #222222;
$white-text: #ffffff;
$primary-color: #68b738;
$accent-background: #f2f2f2;
$extra-background: #eaeaea;
