.additional-products {
  padding: 0 20px;
}

.additional-products__heading {
  @include font($secondary-font, 24px, 24px, $heading-color);
  margin: 0;
  margin-top: 25px;
  margin-bottom: 36px;
  background-color: #ffffff;
  width: fit-content;
  max-width: 85%;
  position: relative;
  box-shadow: -40px 0 0 #ffffff, 40px 0 0#ffffff;
}

.additional-products__heading::before {
  content: "";
  display: block;
  height: 2px;
  width: 100vw;
  background-color: $primary-color;
  position: absolute;
  top: 50%;
  left: -50vw;
  z-index: -1;
  box-shadow: 100vw 0 0 $primary-color;
}

.additional-products__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.additional-products__item:last-child {
  margin-bottom: 35px;
}

.additional-products__promotion {
  min-width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .additional-products {
    padding: 0 30px;
  }

  .additional-products__heading {
    font-size: 32px;
    line-height: 32px;
    padding: 0;
    margin-bottom: 80px;
    margin-left: 40px;
  }

  .additional-products__item:last-child {
    margin-bottom: 70px;
  }
}
