.benefits {
  padding: 0 20px;
}

.benefits__heading {
  @include font($secondary-font, 36px, 40px, $heading-color);
  margin: 0;
  margin-bottom: 40px;
}

.benefits__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.benefits__item {
  // position: relative;
  display: flex;
  gap: 20px;
  align-items: center;
}

.benefits__item::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: $primary-color;
  flex-shrink: 0;
}

.benefits__item--nutrients::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#leaf-icon");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 32px;
}

.benefits__item--consistency::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#boiling-icon");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 29px;
}

.benefits__item--meal::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#meal-icon");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 30px;
}

.benefits__item--effect::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#clocks-icon");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 31px;
}


// Дальнейшее подключение счетчика
/* .benefits__list {
  counter-reset: example 0;
}

.benefits__item {
  counter-increment: example 1;
}

.benefits__item::marker {
  content: counter(example);
} */
