.benefits {
  padding: 0 20px;
}

.benefits__heading {
  @include font($secondary-font, 36px, 40px, $heading-color);
  margin: 0;
  margin-bottom: 40px;
}

.benefits__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.benefits__item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.benefits__description {
  margin: 0;
}

.benefits__item-text {
  @media (max-width: calc($tablet-width - 1px)) {
    display: none;
  }
}

.benefits__item::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: $primary-color;
  flex-shrink: 0;
  align-self: flex-start;
}

.benefits__item--nutrients::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#leaf-icon");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 32px;
}

.benefits__item--consistency::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#boiling-icon");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 29px;
}

.benefits__item--meal::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#meal-icon");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 30px;
}

.benefits__item--effect::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#clocks-icon");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 31px;
}

@media (min-width: $tablet-width) {
  .benefits {
    padding: 45px 30px 46px;
  }

  .benefits__heading {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  .benefits__list {
    counter-reset: benefits-counter;
    display: flex;
    flex-flow: row wrap;
    gap: 37px 137px;
  }

  .benefits__item {
    font-size: 16px;
    line-height: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 80px auto;
    gap: 0;
    max-width: 250px;
  }

  .benefits__item::before {
    width: 80px;
    height: 80px;
    grid-area: 2/1/3/2;
  }

  .benefits__item::after {
    content: counter(benefits-counter);
    counter-increment: benefits-counter;

    @include font($secondary-font, 280px, 280px, $accent-background);
    top: 0;
    left: 118px;
    z-index: -1;
    grid-area: 1/2/4/3;
    align-self: flex-start;
  }

  .benefits__description {
    margin: 0;
    margin-top: 31px;
    max-width: 245px;
    grid-area: 3/1/4/3;
    align-self: start;
  }
}

@media (min-width: $desktop-width) {
  .benefits {
    padding: 0;
  }

  .benefits__heading {
    margin-bottom: 32px;
  }

  .benefits__list {
    display: flex;
    flex-flow: row wrap;
    gap: 78px;
  }

  .benefits__item--nutrients {
    width: 245px;
  }

  .benefits__item--consistency {
    width: 245px;
  }

  .benefits__item--meal {
    width: 247px;
  }

  .benefits__item--effect {
    width: 249px;
  }
}
