.benefits {
  padding: 0 20px;
}

.benefits__heading {
  @include font($secondary-font, 36px, 40px, $heading-color);
  margin: 0;
  margin-bottom: 40px;
}

.benefits__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.benefits__item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.benefits__item-text {
  @media (max-width: calc($tablet-width - 1px)) {
    display: none;
  }
}

.benefits__item::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: $primary-color;
  flex-shrink: 0;
  align-self: flex-start;
}

.benefits__item--nutrients::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#leaf-icon");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 32px;
}

.benefits__item--consistency::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#boiling-icon");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 29px;
}

.benefits__item--meal::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#meal-icon");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 30px;
}

.benefits__item--effect::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#clocks-icon");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 31px;
}

@media (min-width: $tablet-width) {
  .benefits {
    padding: 48px 30px 46px;
  }

  .benefits__heading {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  .benefits__list {
    display: flex;
    flex-flow: row wrap;
    gap: 37px 153px;
    counter-reset: benefits-counter;
  }

  .benefits__item {
    flex-direction: column;
    width: 250px;
    align-items: flex-start;
    padding: 40px 0 57px;
    gap: 31px;
    position: relative;
    font-size: 16px;
    line-height: 24px;
  }

  .benefits__item::before {
    width: 80px;
    height: 80px;
  }

  .benefits__item::after {
    content: counter(benefits-counter);
    counter-increment: benefits-counter;

    @include font($secondary-font, 280px, 280px, $accent-background);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
}

@media (min-width: $desktop-width) {
  .benefits {
    padding: 0;
  }

  .benefits__heading {
    margin-bottom: 32px;
  }

  .benefits__list {
    gap: 80px;
  }

  .benefits__item {
    max-width: 245px;
  }
}
