.benefits {
  padding: 0 20px;
}

.benefits__heading {
  @include font($secondary-font, 36px, 40px, $heading-color);
  margin: 0;
  margin-bottom: 40px;
}

.benefits__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.benefits__item {
  position: relative;
}

.benefits__item--nutrients::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: $primary-color;
}

.benefits__item--nutrients::after {
  content: "";
  display: block;
  min-width: 30px;
  min-height: 32px;
  background-image: url("../../icons/stack.svg#leaf-icon");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 14px;
  left: 15px;
}

.benefits__item--consistency::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: $primary-color;
}

.benefits__item--consistency::after {
  content: "";
  display: block;
  min-width: 26px;
  min-height: 29px;
  background-image: url("../../icons/stack.svg#boiling-icon");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 16px;
  left: 18px;
}

.benefits__item--meal::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: $primary-color;
}

.benefits__item--meal::after {
  content: "";
  display: block;
  min-width: 25px;
  min-height: 30px;
  background-image: url("../../icons/stack.svg#meal-icon");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 15px;
  left: 18px;
}

.benefits__item--effect::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-color: $primary-color;
}

.benefits__item--effect::after {
  content: "";
  display: block;
  min-width: 26px;
  min-height: 31px;
  background-image: url("../../icons/stack.svg#clocks-icon");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 15px;
  left: 18px;
}


// Дальнейшее подключение счетчика
/* .benefits__list {
  counter-reset: example 0;
}

.benefits__item {
  counter-increment: example 1;
}

.benefits__item::marker {
  content: counter(example);
} */
