.button {
  @include font($secondary-font, 16px, 20px, $base-text-color);
  border: none;
  text-transform: uppercase;
  padding: 10px;
  display: block;
  text-align: center;
}

.button--primary {
  background-color: $primary-color;
  color: $light-text;
}

.button--primary:hover {
  background-color: $button-action;
}

.button--primary:focus-visible {
  background-color: $button-action;
}

.button--primary:active {
  background-color: $button-action;
  color: rgba(255, 255, 255, 0.3);
}

.button--secondary {
  background-color: $accent-background;
}

.button--secondary:hover {
  background-color: $button-secondary-action;
}

.button--secondary:focus-visible {
  background-color: $button-secondary-action;
}

.button--secondary:active {
  background-color: $button-secondary-action;
  color: rgba(68, 68, 68, 0.3);
}
