.button {
  @include font($secondary-font, 16px, 20px, $light-text);
  background-color: $primary-color;
  border: none;
  text-transform: uppercase;
  padding: 10px;
  display: block;
}

.button--secondary {
  color: inherit;
  background-color: $accent-background;
}
