.contacts__wrapper {
  padding: 26px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.contacts__cooperation {
  @include font($secondary-font, 16px, 30px, #111111);
  text-transform: uppercase;
  margin: 0;
}

.contacts__address {
  @include font($primary-font, 14px, 20px, inherit);
}

.contacts__location {
  display: block;
  margin: 0 auto;
}

.contacts--accent {
  background-color: $accent-background;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    padding: 60px 70px;
    gap: 308px;
  }

  .contacts__cooperation {
    font-size: 20px;
    line-height: 26px;
  }

  .contacts__address {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: end;
    font-size: 16px;
    line-height: 20px;
  }
}
