.cost {
  @include font($secondary-font, 14px, 20px, $heading-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
}

.cost__key {
  max-width: 150px;
}

.cost__value {
  margin: 0;
  max-width: 100px;
}

@media (min-width: $tablet-width) {
  .cost {
    flex-direction: column;
    align-items: flex-end;
    max-width: 250px;
    gap: 9px;
  }

  .cost__key {
    font-size: 20px;
    line-height: 20px;
    max-width: 200px;
  }

  .cost__value {
    font-size: 20px;
    line-height: 20px;
    max-width: 200px;
  }
}

@media (min-width: $desktop-width) {
  .cost {
    flex-direction: row;
    justify-content: flex-start;
    max-width: 366px;
    gap: 63px;
  }

  .cost__key {
    max-width: 180px;
  }

  .cost__value {
    max-width: 123px;
  }
}
