.cost {
  @include font($secondary-font, 14px, 20px, $heading-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
}

.cost__value {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .cost {
    flex-direction: column;
    align-items: flex-end;
    max-width: 250px;
    gap: 9px;
  }

  .cost__key {
    font-size: 20px;
    line-height: 20px;
  }

  .cost__value {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .cost {
    flex-direction: row;
    justify-content: flex-start;
    max-width: 436px;
    gap: 63px;
  }
}
