.main-header__wrapper {
  padding: 13px 20px 14px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
}

.main-header__toggle {
  min-width: 24px;
  min-height: 24px;
  background-color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
}

.main-header__toggle::before {
  content: "";
  display: block;
  min-width: 24px;
  min-height: 24px;
  background-color: #000000;
  mask-image: url("../../icons/stack.svg#menu-button");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 24px 24px;
}

.main-header__toggle--close::before {
  background-color: #000000;
  mask-image: url("../../icons/stack.svg#close-button");
  mask-size: 18px 18px;
  min-width: 18px;
  min-height: 18px;
}

.main-header__toggle:hover::before,
.main-header__toggle--close:hover::before {
  opacity: 50%;
}

.main-header__toggle:focus-visible::before,
.main-header__toggle--close:focus-visible::before {
  opacity: 50%;
}

.main-header__toggle:active::before,
.main-header__toggle--close:active::before {
  opacity: 30%;
}

.main-header__toggle--nojs {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px;
  }

  .main-header__toggle {
    display: none;
  }

  .main-header__wrapper {
    border: none;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    min-width: $max-desktop-container;
    margin: 55px auto 29px;
    padding: 0;
  }

  .main-header__wrapper {
    margin-right: auto;
    min-width: 50%;
  }

  .main-header__logotype {
    width: 202px;
    height: 59px;
    display: block;
  }

  .main-header__main-navigation {
    min-width: 50%;
  }
}
