.main-navigation__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.main-navigation__link {
  @include font($secondary-font, 20px, 20px, $heading-color);
  text-transform: uppercase;
  text-decoration: none;
}

.main-navigation__link:hover {
  opacity: 60%;
}

.main-navigation__toggle {
  content: "";
  display: block;
  min-width: 24px;
  min-height: 24px;
  background-color: #000000;
  mask-image: url("../../icons/stack.svg#menu-button");
  mask-repeat: no-repeat;
  mask-position: center;
}

.main-navigation__toggle:hover {
  opacity: 50%;
}

.main-navigation__toggle:active {
  opacity: 30%;
}

