.main-footer__wrapper {
  background-color: $accent-background;
  padding: 40px 20px;
}

.main-footer__logotype {
  display: block;
  text-align: center;
  padding-bottom: 19px;
}

.main-footer__logotype:hover {
  opacity: 80%;
}

.main-footer__logotype:focus-visible {
  opacity: 80%;
}

.main-footer__logotype:active {
  opacity: 60%;
}

.main-footer__social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    padding: 55px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .main-footer__logotype {
    padding: 0;
  }

  .main-footer__social {
    border: none;
  }
}
