.main-navigation__list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.main-navigation__link {
  @include font($secondary-font, 20px, 20px, $heading-color);
  text-transform: uppercase;
  text-decoration: none;
}
