.product {
  padding: 13px 0 18px;
}

.product__title-link {
  @include font($secondary-font, 16px, 16px, $card-title-color);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding-bottom: 13px;
}

.product__title {
  font: inherit;
  margin: 0;
}

.product__title-link:hover {
  opacity: 60%;
}

.product__title-link:focus-visible {
  opacity: 60%;
}

.product__title-link:active {
  opacity: 30%;
}

.product__options {
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.product__link {
  text-decoration: none;
}

.product__key {
  max-width: 150px;
}

.product__value {
  max-width: 100px;
}

@media (min-width: $tablet-width) {
  .product {
    display: grid;
    grid-template-areas:
      "title  options"
      "button button";
    gap: 25px;
    padding: 25px 37px 27px;
  }

  .product__title-link {
    font-size: 20px;
    line-height: 20px;
    grid-area: title;
    padding: 0;
  }

  .product__options {
    font-size: 16px;
    line-height: 20px;
    grid-area: options;
    justify-content: flex-end;
    gap: 50px;
    padding: 0;
  }

  .product__link {
    grid-area: button;
  }
}

@media (min-width: $desktop-width) {
  .product {
    grid-template-areas: "title options button";
    grid-template-columns: 1fr 1fr auto;
    align-items: center;
    gap: 40px;
    padding: 15px 1px 16px;
    border: none;
    border-top: 1px solid #cdcdcd;
  }

  .product__options {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .product__link {
    min-width: 244px;
  }

  .product__key {
    max-width: 140px;
  }

  .product__value {
    max-width: 100px;
  }
}
