.product__title-link {
  @include font($secondary-font, 16px, 16px, $card-title-color);
  text-decoration: none;
  text-transform: uppercase;
}

.product__title {
  font: inherit;
  margin: 0;
}

.product__options {
  font-size: 14px;
  line-height: 14px;
  margin: 0;
}

.product__link {
  text-decoration: none;
}
