.program {
  position: relative;
  padding: 30px 20px 18px;
}

.program__title {
  @include font($secondary-font, 24px, 37px, $heading-color);
  text-transform: uppercase;
  margin: 0 0 29px 90px;
}

.program__link {
  @include font($secondary-font, 16px, 16px, $heading-color);
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  gap: 15px;
  padding-top: 15px;
}

.program__link::after {
  content: "";
  display: block;
  min-width: 32px;
  min-height: 10px;
  background-color: #000000;
  mask-image: url("../../icons/stack.svg#arrow-short");
  mask-repeat: no-repeat;
  mask-position: center;
}

.program__link:hover::after {
  transform-origin: 0;
  transform: scaleX(1.33);
}

.program__link:focus-visible::after {
  transform-origin: 0;
  transform: scaleX(1.33);
}

.program__link:active {
  opacity: 30%;
}

.program--slim::before {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  background: $primary-color;
  position: absolute;
  top: 24px;
  left: 20px;
}

.program--slim::after {
  content: "";
  display: block;
  width: 36px;
  height: 50px;
  background-color: #000000;
  mask-image: url("../../icons/stack.svg#cat-slim");
  mask-repeat: no-repeat;
  mask-position: center;
  position: absolute;
  top: 21px;
  left: 27px;
}

.program--pro::before {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: block;
  background: $primary-color;
  position: absolute;
  top: 24px;
  left: 20px;
}

.program--pro::after {
  content: "";
  display: block;
  width: 67px;
  height: 28px;
  background-color: #000000;
  mask-image: url("../../icons/stack.svg#cat-pro");
  mask-repeat: no-repeat;
  mask-position: center;
  position: absolute;
  top: 35px;
  left: 13px;
}

.program__description {
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
}

.program__icon-slim {
  position: absolute;
  top: 21px;
  left: 27px;
}

.program__icon-pro {
  position: absolute;
  top: 35px;
  left: 13px;
}
