.promotion {
  @include font($primary-font, 16px, 20px, $light-text);
  background-image:
    linear-gradient($opacity-primary-color, $opacity-primary-color),
    image-set(
      url("../../images/promotion-bg-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/promotion-bg-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/promotion-bg-mobile@2x.jpg") type("image/jpeg") 2x,
      url("../../images/promotion-bg-mobile@1x.jpg") type("image/jpeg") 1x
    );
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  text-align: center;
  padding: 59px 61px 43px 58px;
  background-color: $primary-color;
}

.promotion__text {
  margin: 0;
}

.promotion__text::before {
  content: "";
  display: block;
  min-width: 78px;
  min-height: 80px;
  background-color: $light-text;
  mask-image: url("../../icons/stack.svg#gift-icon");
  mask-repeat: no-repeat;
  mask-position: center;
  margin-bottom: 48px;
}

@media (min-width: $tablet-width) {
  .promotion {
    background-image:
      linear-gradient($opacity-primary-color, $opacity-primary-color),
      image-set(
        url("../../images/promotion-bg-tablet@2x.webp") type("image/webp") 2x,
        url("../../images/promotion-bg-tablet@1x.webp") type("image/webp") 1x,
        url("../../images/promotion-bg-tablet@2x.jpg") type("image/jpeg") 2x,
        url("../../images/promotion-bg-tablet@1x.jpg") type("image/jpeg") 1x
      );
    padding: 57px 125px 60px 77px;
    background-position: center;
    background-size: 708px 200px;
  }

  .promotion__text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 264px;
    text-align: left;
  }

  .promotion__text::before {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .promotion {
    background-image:
      linear-gradient($opacity-primary-color, $opacity-primary-color),
      image-set(
        url("../../images/promotion-bg-desktop@2x.webp") type("image/webp") 2x,
        url("../../images/promotion-bg-desktop@1x.webp") type("image/webp") 1x,
        url("../../images/promotion-bg-desktop@2x.jpg") type("image/jpeg") 2x,
        url("../../images/promotion-bg-desktop@1x.jpg") type("image/jpeg") 1x
      );
    background-repeat: no-repeat;
    text-align: center;
    background-position: top;
    background-size: contain;
    padding: 56px 42px 43px;
  }

  .promotion__text {
    display: flex;
    flex-direction: column;
    gap: 46px;
    text-align: center;
  }
}
