.promo {
  background-color: $primary-color;
  text-align: center;
}

.promo__heading {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $white-text;
}

.promo__slogan {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  color: $white-text;
}

.promo__link {
  text-decoration: none;
}
