.promotion {
  @include font($primary-font, 16px, 20px, $light-text);
}

.promotion__wrapper {
  background-image:
    image-set(
      url("../../images/promotion-bg-mobile@2x.jpg") 2x,
      url("../../images/promotion-bg-mobile@1x.jpg") 1x
    );
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  width: 280px;
  min-height: 290px;
}

.promotion__text {
  background-color: $opacity-primary-color;
  min-height: 290px;
  margin: 0;
  padding: 59px 61px 43px 58px;
}

.promotion__text::before {
  content: "";
  display: block;
  min-width: 78px;
  min-height: 80px;
  background-color: $light-text;
  mask-image: url("../../icons/stack.svg#gift-icon");
  mask-repeat: no-repeat;
  mask-position: center;
  margin-bottom: 48px;
}

