.subscribe__heading {
  @include font($secondary-font, 24px, 24px, $heading-color);
  margin: 0;
  margin-bottom: 32px;
}

.subscribe__text {
  @include font($secondary-font, 16px, 24px, $heading-color);
  margin: 0;
  margin-bottom: 24px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .subscribe__heading {
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 66px;
  }

  .subscribe__text {
    font-size: 24px;
    line-height: 32px;
    max-width: 632px;
    margin: 0 auto;
    margin-bottom: 24px;
  }
}
