.subscribe__heading {
  @include font($secondary-font, 24px, 24px, $heading-color);
  margin: 0;
  margin-bottom: 32px;
}

.subscribe__text {
  @include font($secondary-font, 16px, 24px, $heading-color);
  margin: 0;
  margin-bottom: 24px;
  text-align: center;
}
